<!DOCTYPE html>
<html>
<head>
<title>To-Do List</title>
<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body>
<h1>To-Do List</h1>

<form>
<input type="email" name="email" placeholder="Email"/>
  
<input type="password" name="password" placeholder="Password"/>
  
<a href="#"><div id="btn">Sign In</div></a> <!-- End Btn -->

<a href="#"><div id="btn2">Sign Up</div></a> <!-- End Btn2 -->
</form>

<p>Forgot your password? <a href="#"><div id="btn3">Click Here!</div></u></p>
</body>
</html>
